<div
  class="flex items-center justify-center min-h-screen px-4 py-12 bg-primary-100 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <div
        class="text-4xl font-semibold tracking-widest text-center uppercase rounded-md text-primary-500"
      >
        Presencia
      </div>
      <h2 class="mt-6 text-2xl font-bold text-center text-gray-700">
        Please log in
      </h2>
    </div>
    <form [formGroup]="form" (submit)="submit()" class="mt-8 space-y-6">
      <div class="space-y-px rounded-md shadow-sm">
        <div>
          <label
            for="inputUsername"
            class="block text-sm font-medium text-gray-700"
            >Username</label
          >
          <input
            formControlName="username"
            id="inputUsername"
            type="text"
            required
            autofocus
            class="block w-full my-2 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="inputPassword"
            class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <input
            formControlName="password"
            id="inputPassword"
            type="password"
            required
            class="block w-full my-2 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="relative flex justify-center w-full px-4 py-2 text-sm font-semibold text-white uppercase border border-transparent rounded-md bg-primary-500 group hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
        >
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg
              class="w-5 h-5 text-primary-400 group-hover:text-primary-300"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Sign in
        </button>
      </div>
      <div class="h-12 py-4">
        <div
          *ngIf="pending"
          class="flex items-center justify-center w-full px-5 py-2 font-normal text-white bg-yellow-500 rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 animate-spin"
            fill="none"
            viewBox="0 0 12 12"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-width="2"
              fill-rule="evenodd"
              d="M 5.996 1 C 9.843 1 12.246 5.163 10.323 8.494 C 8.4 11.825 3.593 11.825 1.669 8.494 C 1.147 7.589 0.921 6.543 1.024 5.503"
            ></path>
          </svg>
          <div class="px-4">Signing in ...</div>
        </div>

        <div
          *ngIf="submitted && loginerror?.error?.message"
          class="flex items-center justify-center w-full px-5 py-2 font-normal text-white bg-red-500 rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          <div class="px-4">{{ loginerror?.error?.message }}</div>
        </div>
      </div>
    </form>
  </div>
</div>
