<app-spinner-overlay
  [active]="pending"
  [text]="'Loading ...'"
></app-spinner-overlay>

<div class="mx-auto max-w-screen-2xl">
  <div class="mx-6 my-6 border-t-4 shadow border-secondary-500 sm:rounded-md">
    <div class="px-4 py-5 bg-white rounded-md sm:p-6">
      <h3 class="pb-6 text-2xl font-semibold leading-6 text-gray-700">
        Employees
      </h3>
      <div class="flex justify-between space-x-4">
        <app-pagination
          [active]="!pending"
          [meta]="employees.meta"
          (page)="loadpage($event)"
        ></app-pagination>

        <button
          class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
          type="button"
          [routerLink]="['employee']"
          [disabled]="pending"
        >
          New Employee
        </button>
      </div>

      <table class="min-w-full my-2 border-b divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Name
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Code
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              ID Card
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              email
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Start Date
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              End Date
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Default Shift
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Inc.Group
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Sup.Gr. Id
            </th>
            <th
              scope="col"
              class="px-2 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Username
            </th>
            <!-- <th>Admin</th>
      <th>Blocked</th>-->
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let employee of employees.data" class="hover:bg-gray-100">
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.first_name }} {{ employee.last_name }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.code }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.national_id }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.email }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.start_date | date: "dd/MM/yyyy" }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.end_date | date: "dd/MM/yyyy" }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div
                class="text-xs text-center font-medium group w-12 {{
                  employee.default_shift?.colour
                }} {{
                  getTextColourFromName(
                    employee.default_shift?.colour || 'bg-white'
                  )
                }} rounded-md py-1 px-2"
              >
                {{ employee.default_shift?.code }}
                <span
                  class="absolute invisible w-auto p-1 mt-1 text-sm text-gray-800 transition-all duration-200 ease-in delay-300 rounded-md shadow-lg opacity-0 bg-gray-50 group-hover:visible group-hover:z-10 group-hover:opacity-100"
                  >{{ employee.default_shift?.description }}</span
                >
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div
                class="text-xs text-center font-medium group w-12 text-gray-900 rounded-md py-1 px-2
              {{ employee.incidences_group?.code ? 'bg-gray-300' : '' }}"
              >
                {{ employee.incidences_group?.code }}
                <span
                  class="absolute invisible w-auto p-1 mt-1 text-sm text-gray-800 transition-all duration-200 ease-in delay-300 rounded-md shadow-lg opacity-0 bg-gray-50 group-hover:visible group-hover:z-10 group-hover:opacity-100"
                  >{{ employee.incidences_group?.description }}</span
                >
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.supervision_group_id }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ employee.user?.username }}
              </div>
            </td>
            <!-- <td>{{ employee.user?.is_admin }}</td>
      <td>{{ employee.user?.is_blocked }}</td> -->
            <td class="space-x-2">
              <!-- <button
          class="relative px-2 py-1 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          type="button"
          [routerLink]="['employee', employee.id, 'calendars']"
          [disabled]="pending"
        >
          Calendars
        </button> -->
              <button
                class="relative w-full px-2 py-1 text-sm font-medium text-white border border-transparent rounded-md shadow-sm disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
                type="button"
                [routerLink]="['employee', employee.id]"
                [disabled]="pending"
              >
                Edit
              </button>
              <!-- <button
          class="relative px-2 py-1 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          type="button"
          (click)="deleteEmployee(employee.id)"
          [disabled]="pending"
        >
          Delete
        </button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination
        [active]="!pending"
        [meta]="employees.meta"
        (page)="loadpage($event)"
      ></app-pagination>
    </div>
  </div>
</div>
