<h3 class="text-3xl my-4 font-bold">Employees</h3>

<div class="my-4">
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="firstpage()"
    [disabled]="pending || employees.meta?.current_page == 1"
  >
    &laquo;
  </button>
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="previouspage()"
    [disabled]="pending || employees.meta?.current_page == 1"
  >
    &lt;
  </button>
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="nextpage()"
    [disabled]="
      pending || employees.meta?.current_page == employees.meta?.last_page
    "
  >
    &gt;
  </button>
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="lastpage()"
    [disabled]="
      pending || employees.meta?.current_page == employees.meta?.last_page
    "
  >
    &raquo;
  </button>
  &nbsp;
  <button
    class="disabled:opacity-50 group relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    type="button"
    [routerLink]="['employee']"
    [disabled]="pending"
  >
    New Employee
  </button>
</div>

<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Name
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Code
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        ID Card
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        email
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Start Date
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        End Date
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Default Shift (!Today)
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Sup.Gr. Id
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Username
      </th>
      <!-- <th>Admin</th>
      <th>Blocked</th>-->
      <th scope="col" class="relative px-6 py-3">
        <span class="sr-only">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let employee of employees.data">
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.first_name }} {{ employee.last_name }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.code }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.national_id }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.email }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.start_date | date: "dd/MM/yyyy" }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.end_date | date: "dd/MM/yyyy" }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.default_shift?.code }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.supervision_group_id }}
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ employee.user?.username }}
        </div>
      </td>
      <!-- <td>{{ employee.user?.is_admin }}</td>
      <td>{{ employee.user?.is_blocked }}</td> -->
      <td>
        <button
          class="disabled:opacity-50 group relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          type="button"
          [routerLink]="['employee', employee.id]"
          [disabled]="pending"
        >
          Edit
        </button>
        <button
          class="disabled:opacity-50 group relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          type="button"
          (click)="deleteEmployee(employee.id)"
          [disabled]="pending"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="my-4">
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="firstpage()"
    [disabled]="pending || employees.meta?.current_page == 1"
  >
    &laquo;
  </button>
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="previouspage()"
    [disabled]="pending || employees.meta?.current_page == 1"
  >
    &lt;
  </button>
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="nextpage()"
    [disabled]="
      pending || employees.meta?.current_page == employees.meta?.last_page
    "
  >
    &gt;
  </button>
  <button
    class="disabled:opacity-50 group relative py-2 px-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="lastpage()"
    [disabled]="
      pending || employees.meta?.current_page == employees.meta?.last_page
    "
  >
    &raquo;
  </button>
</div>

<div class="pending" *ngIf="pending">SPINNER</div>
