<h3 class="my-4 text-3xl font-bold">Shifts</h3>

<div class="my-4">
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="firstpage()"
    [disabled]="pending || shifts.meta?.current_page == 1"
  >
    &laquo;
  </button>
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="previouspage()"
    [disabled]="pending || shifts.meta?.current_page == 1"
  >
    &lt;
  </button>
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="nextpage()"
    [disabled]="pending || shifts.meta?.current_page == shifts.meta?.last_page"
  >
    &gt;
  </button>
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="lastpage()"
    [disabled]="pending || shifts.meta?.current_page == shifts.meta?.last_page"
  >
    &raquo;
  </button>
  &nbsp;
  <button
    class="relative px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    type="button"
    [routerLink]="['shift']"
    [disabled]="pending"
  >
    New Shift
  </button>
</div>

<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-center text-gray-500 uppercase"
      >
        Code
      </th>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
      >
        Description
      </th>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
      >
        Start Time
      </th>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
      >
        End Time
      </th>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
      >
        Expected Time
      </th>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
      >
        Recess Time
      </th>
      <th
        scope="col"
        class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
      >
        Holiday?
      </th>

      <th scope="col" class="relative px-6 py-3">
        <span class="sr-only">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let shift of shifts.data">
      <td class="px-4 py-2 whitespace-nowrap">
        <div
          class="text-center text-xs font-medium w-12 {{ shift.colour }} {{
            getTextColourFromName(shift.colour)
          }} rounded-md py-1 px-2"
        >
          {{ shift.code }}
        </div>
      </td>
      <td class="px-4 py-2 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ shift.description }}
        </div>
      </td>

      <td class="px-4 py-2 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ shift.start_time }}
        </div>
      </td>
      <td class="px-4 py-2 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ shift.end_time }}
        </div>
      </td>
      <td class="px-4 py-2 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ shift.expected_time }}
        </div>
      </td>
      <td class="px-4 py-2 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ shift.recess_time }}
        </div>
      </td>
      <td class="px-4 py-2 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-900">
          {{ shift.is_holiday }}
        </div>
      </td>
      <td class="space-x-2">
        <button
          class="relative px-2 py-1 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          type="button"
          [routerLink]="['shift', shift.id]"
          [disabled]="pending"
        >
          Edit
        </button>
        <button
          class="relative px-2 py-1 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          type="button"
          (click)="deleteShift(shift.id)"
          [disabled]="pending"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="my-4">
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="firstpage()"
    [disabled]="pending || shifts.meta?.current_page == 1"
  >
    &laquo;
  </button>
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="previouspage()"
    [disabled]="pending || shifts.meta?.current_page == 1"
  >
    &lt;
  </button>
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="nextpage()"
    [disabled]="pending || shifts.meta?.current_page == shifts.meta?.last_page"
  >
    &gt;
  </button>
  <button
    class="relative px-2 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    type="button"
    (click)="lastpage()"
    [disabled]="pending || shifts.meta?.current_page == shifts.meta?.last_page"
  >
    &raquo;
  </button>
</div>

<div class="pending" *ngIf="pending">SPINNER</div>
