<nav class="bg-gray-200 shadow-sm">
  <div class="ml-10 flex items-baseline space-x-4">
    <a
      class="text-gray-900 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      [routerLink]="['employees']"
      >Employees</a
    >
    <a
      class="text-gray-900 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      [routerLink]="['shifts']"
      >Shifts</a
    >
    <a
      class="text-gray-900 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      [routerLink]="['calendars']"
      >Calendars</a
    >
    <a
      class="text-gray-900 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      [routerLink]="['incidences']"
      >Incidences</a
    >
    <a
      class="text-gray-900 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      [routerLink]="['incidencesgroups']"
      >Incidences Groups</a
    >
    <a
      class="text-gray-900 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      [routerLink]="['bookings']"
      >Bookings</a
    >
  </div>
</nav>
