<h2>Employee</h2>
<div id="employee">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <section>
      <label class="form-label" for="first_name">First Name:</label
      ><input
        class="form-control"
        type="text"
        id="first_name"
        [formControlName]="'first_name'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{
          getControlErrorMessage(employeeForm.get("first_name"), "First Name")
        }}
      </div>
      <label class="form-label" for="last_name">Last Name:</label
      ><input
        class="form-control"
        type="text"
        id="last_name"
        [formControlName]="'last_name'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{
          getControlErrorMessage(employeeForm.get("last_name"), "Larst Name")
        }}
      </div>
    </section>
    <section>
      <label class="form-label" for="code">Code:</label
      ><input
        class="form-control"
        type="text"
        id="code"
        [formControlName]="'code'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("code"), "Code") }}
      </div>
      <label class="form-label" for="national_id">ID Card:</label
      ><input
        class="form-control"
        type="text"
        id="national_id"
        [formControlName]="'national_id'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("national_id"), "ID Card") }}
      </div>
      <label class="form-label" for="email">Email:</label
      ><input
        class="form-control"
        type="email"
        id="email"
        [formControlName]="'email'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("email"), "Email") }}
      </div>
    </section>
    <section>
      <label class="form-label" for="start_date">Start Date: </label>
      <input
        class="form-control"
        type="date"
        id="start_date"
        [formControlName]="'start_date'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{
          getControlErrorMessage(employeeForm.get("start_date"), "Start Date")
        }}
      </div>
      <label class="form-label" for="end_date">End Date: </label>
      <input
        class="form-control"
        type="date"
        id="end_date"
        [formControlName]="'end_date'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("end_date"), "End Date") }}
      </div>
    </section>
    <section>
      <label class="form-label" for="shift">Shift: </label>
      <select [formControlName]="'shift_id'" id="shift">
        <!-- <option *ngFor="let shift of shifts" [value]="shift.id">
          {{ shift.name }}
        </option> -->
      </select>
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("shift_id"), "Shift") }}
      </div>
      <label class="form-label" for="shift">Supervision Group: </label>
      <select [formControlName]="'supervision_group_id'" id="supervision_group">
        <!-- <option *ngFor="let supervision_group of supervision_groups" [value]="supervision_group.id">
          {{ supervision_group.name }}
        </option> -->
      </select>
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{
          getControlErrorMessage(
            employeeForm.get("supervision_group_id"),
            "Supervision Group"
          )
        }}
      </div>
    </section>
    <section>
      <label class="form-label" for="username">Username:</label
      ><input
        class="form-control"
        type="text"
        id="username"
        [formControlName]="'username'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("username"), "Username") }}
      </div>
      <label class="form-label" for="password">Password:</label
      ><input
        class="form-control"
        type="password"
        id="password"
        [formControlName]="'password'"
      />
      <div class="form-text" *ngIf="employeeForm.invalid">
        {{ getControlErrorMessage(employeeForm.get("password"), "Password") }}
      </div>
    </section>
    <section>
      <input
        type="checkbox"
        id="is_admin"
        name="is_admin"
        [formControlName]="'is_admin'"
      />
      <label class="form-label" for="is_admin"> Admin </label>
      <input
        type="checkbox"
        id="is_blocked"
        name="is_blocked"
        [formControlName]="'is_blocked'"
      />
      <label class="form-label" for="is_blocked"> Blocked </label>
    </section>
    <section class="centerbutton">
      <button
        class="btn btn-primary mb-3"
        type="submit"
        [disabled]="!employeeForm.valid || pending"
      >
        Save
      </button>
    </section>
  </form>
</div>
<div class="pending" *ngIf="pending">
  <!--<mat-spinner color="accent"></mat-spinner>-->> PENDING
</div>
