<app-spinner-overlay
  [active]="pending"
  [text]="'Loading ...'"
></app-spinner-overlay>

<div class="mx-auto max-w-screen-2xl 2xl:max-w-max">
  <div class="my-6 border-t-4 shadow xl:mx-6 border-secondary-500 rounded-md">
    <div class="px-2 py-5 bg-white lg:px-4 rounded-t-md">
      <div class="flex pb-6 space-x-3">
        <h2 class="text-2xl font-semibold leading-6 text-gray-700">
          {{ calendar.name }}
        </h2>
        <span
          class="px-2 py-1 text-sm font-medium leading-5 text-center text-gray-900 bg-gray-300 rounded-md"
          >{{ calendar.year }}</span
        >
      </div>

      <app-calendar-year
        [calendarData]="getCalendarDayData()"
        [(selection)]="selection"
        [showSelectionControls]="true"
        [pending]="isPending()"
      ></app-calendar-year>

      <div class="grid items-end grid-cols-6 my-4 gap-x-3 gap-y-2">
        <div class="col-span-6 md:col-span-3 xl:col-span-2">
          <label class="block text-sm font-medium text-gray-700"> Shift </label>

          <app-colour-dropdown
            [items]="shifts.data"
            [(selectedId)]="selectedShiftId"
            [direction]="'up'"
          ></app-colour-dropdown>
        </div>
        <div class="col-span-6 md:col-span-1">
          <button
            type="button"
            class="inline-flex justify-center w-full px-4 py-2 mt-1 text-base font-medium text-white border border-transparent rounded-md shadow-sm disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
            (click)="assignToSelected()"
            [disabled]="selection.length === 0 || isPending()"
          >
            Assign Shift
          </button>
        </div>
      </div>
    </div>
    <div
      class="items-center justify-between px-4 py-3 sm:flex sm:flex-row-reverse rounded-b-md bg-gray-50 sm:px-6"
    >
      <button
        class="inline-flex justify-center w-full px-4 py-2 text-base font-medium bg-white border border-gray-300 rounded-md shadow-sm text-secondary-500 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
        type="button"
        [routerLink]="['../']"
        [disabled]="pending"
      >
        Close
      </button>
    </div>
  </div>
</div>
