<div *ngIf="month">
  <div
    class="px-4 py-3 text-sm font-medium tracking-wider text-center uppercase bg-gray-200 select-none text-primary-500 w-60"
    (click)="selectMonth($event, month)"
  >
    {{ month.name() }}
  </div>
  <table
    class="p-0 text-center border-0 border-collapse table-fixed bg-gray-50"
  >
    <thead class="bg-gray-100">
      <tr>
        <th class="w-4 p-0"></th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 0)"
          >
            Mo
          </div>
        </th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 1)"
          >
            Tu
          </div>
        </th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 2)"
          >
            We
          </div>
        </th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 3)"
          >
            Th
          </div>
        </th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 4)"
          >
            Fr
          </div>
        </th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 5)"
          >
            Sa
          </div>
        </th>
        <th class="w-8 p-0">
          <div
            class="py-2 font-medium select-none"
            (click)="selectDayOfWeek($event, month, 6)"
          >
            Su
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of month.weeks">
        <td
          *ngIf="week.index >= 0"
          class="p-0 text-xs text-gray-400 select-none"
          (click)="selectWeek($event, week)"
        >
          <div class="w-4">{{ week.index }}</div>
        </td>
        <td class="p-0" *ngFor="let day of week.days">
          <div
            *ngIf="day >= 0"
            class=" group select-none w-8 py-1

            {{ day === today ? 'ring-2 ring-red-600 ring-inset' : '' }}
            {{
              year.days[day].selected
                ? 'bg-primary-700'
                : year.days[day].data?.colour
            }}
            {{
              year.days[day].selected
                ? 'text-white'
                : year.days[day].data?.textcolour
            }}
            "
            (click)="selectDay($event, year.days[day])"
          >
            <div>
              {{ year.days[day].day | date: "d" }}
            </div>
            <div class="h-4 text-xs">
              {{ year.days[day].data?.label }}
              <span
                *ngIf="year.days[day].data?.tooltip"
                class="absolute invisible w-auto p-1 -mt-2 text-gray-800 transition-all duration-200 ease-in delay-300 rounded-md shadow-lg opacity-0 bg-gray-50 group-hover:visible group-hover:z-20 group-hover:opacity-100"
              >
                {{ year.days[day].data?.tooltip }}
              </span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
