<app-spinner-overlay
  [active]="pending"
  [text]="'Loading ...'"
></app-spinner-overlay>

<div class="max-w-screen-md mx-auto">
  <div class="mx-6 my-6 border-t-4 shadow border-secondary-500 sm:rounded-md">
    <div class="px-4 py-5 bg-white rounded-md sm:p-6">
      <h3 class="pb-6 text-2xl font-semibold leading-6 text-gray-700">
        Incidences Groups
      </h3>
      <div class="justify-between sm:flex sm:flex-row-reverse">
        <button
          class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
          type="button"
          [routerLink]="['incidencesgroup']"
          [disabled]="pending"
        >
          New Incidence Group
        </button>
        <app-pagination
          *ngIf="incidencesgroups.meta"
          [active]="!pending"
          [meta]="incidencesgroups.meta"
          (page)="loadpage($event)"
        ></app-pagination>
      </div>

      <table class="min-w-full my-2 border-b divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="w-12 px-1 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Code
            </th>
            <th
              scope="col"
              class="px-1 py-3 text-xs font-medium tracking-wider text-left uppercase text-primary-500"
            >
              Description
            </th>
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr
            *ngFor="let incidencesgroup of incidencesgroups.data"
            class="hover:bg-gray-100"
          >
            <td class="px-1 py-2 whitespace-nowrap">
              <div
                class="w-12 px-2 py-1 text-xs font-medium text-center text-gray-900 bg-gray-300 rounded-md group"
              >
                {{ incidencesgroup.code }}
              </div>
            </td>
            <td class="px-1 py-2 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900">
                {{ incidencesgroup.description }}
              </div>
            </td>
            <td>
              <!-- <button
                class="relative px-2 py-1 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md disabled:opacity-50 group hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                type="button"
                [routerLink]="[
                  'incidencesgroup',
                  incidencesgroup.id,
                  'incidences'
                ]"
                [disabled]="pending"
              >
                Incidences
              </button> -->
              <button
                class="relative w-full px-2 py-1 text-sm font-medium bg-white border border-gray-300 rounded-md shadow-sm text-primary-500 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
                type="button"
                [routerLink]="['incidencesgroup', incidencesgroup.id]"
                [disabled]="pending"
              >
                Open
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <app-pagination
        *ngIf="incidencesgroups.meta"
        [active]="!pending"
        [meta]="incidencesgroups.meta"
        (page)="loadpage($event)"
      ></app-pagination>
    </div>
  </div>
</div>
