<!--
1. Book
2. Info
  1. Calendar view
3. Requests -
   1. Booking
   2. Absence
   3. Holidays
   4. Manage Requests
4. Bookings Report
-->

<app-spinner-overlay
  [active]="isloading()"
  [text]="'Loading ...'"
></app-spinner-overlay>

<div
  class="grid max-w-screen-lg grid-cols-6 mx-3 my-6 lg:mx-auto gap-x-3 gap-y-2"
>
  <div
    class="col-span-6 border-t-4 rounded-md shadow  md:col-span-3 border-secondary-500"
  >
    <div
      class="flex flex-col items-center px-4 py-5 space-y-4 bg-white rounded-md  sm:p-6"
    >
      <div
        class="px-8 py-4 mt-5 mb-3 font-mono text-5xl font-medium bg-gray-100 border border-gray-300 rounded-md  text-primary-700"
      >
        <app-clock (datetimeChange)="updateDatetime($event)"></app-clock>
      </div>
      <div class="flex items-center w-full space-x-3">
        <label class="block pt-2 text-sm font-medium text-gray-700">
          Incidence
        </label>
        <app-colour-dropdown
          class="w-full"
          [items]="incidences"
          [(selectedId)]="selectedIncidenceId"
        ></app-colour-dropdown>
      </div>
      <button
        class="relative flex justify-center w-full px-4 py-4 text-base font-semibold text-white uppercase border border-transparent rounded-md  group bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
        (click)="book()"
      >
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 text-primary-400 group-hover:text-primary-300"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        Book
      </button>
      <div class="h-12">
        <div
          *ngIf="pending_booking"
          class="flex items-center justify-center w-full px-5 py-2 font-normal text-white bg-yellow-500 rounded-md "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 animate-spin"
            fill="none"
            viewBox="0 0 12 12"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-width="2"
              fill-rule="evenodd"
              d="M 5.996 1 C 9.843 1 12.246 5.163 10.323 8.494 C 8.4 11.825 3.593 11.825 1.669 8.494 C 1.147 7.589 0.921 6.543 1.024 5.503"
            ></path>
          </svg>
          <div class="px-4">Processing...</div>
        </div>
        <app-booking-notification></app-booking-notification>
      </div>
    </div>
  </div>
  <div
    class="col-span-6 border-t-4 rounded-md shadow  md:col-span-3 border-secondary-500"
  >
    <div class="flex flex-col h-full px-4 py-5 bg-white rounded-md sm:p-6">
      <h2
        class="my-3 text-2xl font-semibold text-gray-700"
        *ngIf="employeedisplayname"
      >
        Hello, {{ employeedisplayname }}.
      </h2>
      <div
        *ngIf="!isloading() && shift?.id === undefined"
        class="flex flex-col space-y-4"
      >
        <h3 class="text-lg font-medium text-red-500">
          You don't currently have a shift
        </h3>
      </div>
      <div
        *ngIf="!isloading() && shift?.id !== undefined"
        class="flex flex-col space-y-4"
      >
        <h3 class="text-lg font-medium-text-gray-700">Today, your shift is:</h3>
        <div class="flex items-baseline space-x-2">
          <div
            class="max-w-max {{ shift.colour }} {{
              getTextColourFromName(shift.colour)
            }} px-2 py-1 rounded-md"
          >
            {{ shift.code }}
          </div>
          <p class="text-lg">{{ shift.description }}</p>
        </div>
        <p>
          From <span class="font-medium">{{ shift.start_time }} </span> to
          <span class="font-medium">{{ shift.end_time }}</span>
        </p>
      </div>
    </div>
  </div>
  <div
    class="col-span-6 border-t-4 rounded-md shadow  md:col-span-3 border-secondary-500"
  >
    <div class="flex flex-col h-full px-4 py-5 bg-white rounded-md sm:p-6">
      <h2 class="my-3 text-2xl font-semibold text-gray-700">Requests</h2>
      <div class="items-center sm:flex sm:space-x-4">
        <div class="items-center sm:flex sm:space-x-4">
          <button
            class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm  disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
            type="button"
            [routerLink]="['requests/booking']"
            [disabled]="isloading()"
          >
            Forgotten Booking
          </button>
          <button
            class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm  disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
            type="button"
            [routerLink]="['employee']"
            [disabled]="isloading()"
          >
            Absence
          </button>
          <button
            class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm  disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
            type="button"
            [routerLink]="['employee']"
            [disabled]="isloading()"
          >
            Holidays
          </button>
        </div>
        <button
          class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm  disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
          type="button"
          [routerLink]="['requests']"
          [disabled]="isloading()"
        >
          View Requests
        </button>
        <button
          class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm  disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
          type="button"
          [routerLink]="['supervisedrequests']"
          [disabled]="isloading()"
        >
          View Supervised Requests
        </button>
      </div>
    </div>
  </div>
  <div
    class="col-span-6 border-t-4 rounded-md shadow  md:col-span-3 border-secondary-500"
  >
    <div class="flex flex-col h-full px-4 py-5 bg-white rounded-md sm:p-6">
      <h2 class="my-3 text-2xl font-semibold text-gray-700">Bookings</h2>
      <div class="items-center sm:flex sm:space-x-4">
        <button
          class="inline-flex justify-center w-full px-4 py-2 my-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm  disabled:opacity-70 bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:w-auto sm:text-sm"
          type="button"
          [routerLink]="['bookings']"
          [disabled]="isloading()"
        >
          View All
        </button>
      </div>
      <div>Today Bookings</div>
      <table class="min-w-full my-2 border-b divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              *ngFor="let header of ['Time', 'Incidence']"
              scope="col"
              class="px-1 py-3 text-xs font-medium tracking-wider text-left uppercase  text-primary-500"
            >
              <div class="flex items-center space-x-1">
                <div>{{ header }}</div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="font-mono bg-white divide-y divide-gray-200">
          <tr
            *ngFor="let booking of bookings.data[0]?.bookings; let i = index"
            class="align-top hover:bg-gray-100"
          >
            <td class="px-1 py-2 whitespace-normal lg:whitespace-nowrap">
              <div class="flex items-center">
                <div class="w-4 py-1 mr-0.5">
                  <svg
                    *ngIf="booking.user_id"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 text-gray-400"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    />
                  </svg>
                </div>
                <div class="py-1 mr-0.5">
                  {{ booking.time }}
                </div>
                <div class="mr-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 text-gray-400"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      *ngIf="i % 2 == 0"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                    />
                    <path
                      *ngIf="i % 2 != 0"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                    />
                  </svg>
                </div>
              </div>
            </td>
            <td class="px-1 py-2 whitespace-normal lg:whitespace-nowrap">
              <div
                *ngIf="booking.incidence"
                class="font-sans text-xs text-center font-medium group w-12 {{
                  booking.incidence?.colour
                }} {{
                  getTextColourFromName(booking.incidence?.colour || 'bg-white')
                }} rounded-md py-1 px-1"
              >
                {{ booking.incidence?.code }}
                <span
                  class="absolute invisible w-auto p-1 mt-1 text-sm text-gray-800 transition-all duration-200 ease-in delay-300 rounded-md shadow-lg opacity-0  bg-gray-50 group-hover:visible group-hover:z-10 group-hover:opacity-100"
                  >{{ booking.incidence?.description }}</span
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
