<div class="flex items-center justify-center">
  <div class="w-full max-w-md m-4 space-y-8">
    <h2
      class="mt-6 text-3xl font-bold text-center text-gray-900"
      *ngIf="employeedisplayname"
    >
      Hello, {{ employeedisplayname }}.
    </h2>
    <div class="text-3xl font-bold text-center text-gray-900">
      <app-clock></app-clock>
    </div>
    <div class="mt-2">
      <app-colour-dropdown
        [items]="incidences"
        [(selectedId)]="selectedIncidenceId"
      ></app-colour-dropdown>
    </div>
    <button
      class="relative flex justify-center w-full px-4 py-2 text-sm font-semibold text-white uppercase border border-transparent rounded-md group bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
      (click)="book()"
    >
      <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 text-primary-400 group-hover:text-primary-300"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      Book
    </button>
    <div
      class="{{
        bookingerror ? 'text-red-600' : 'text-green-600'
      }} font-semibold"
    >
      {{ bookingmessage }}
    </div>
  </div>
  <div *ngIf="shift">
    <div
      class="{{ shift.colour }} {{
        getTextColourFromName(shift.colour)
      }} p-1 rounded-md"
    >
      {{ shift.code }}
    </div>
    <div>{{ shift.start_time }} - {{ shift.end_time }}</div>
  </div>
</div>
