<h2 class="text-lg font-medium leading-6 text-gray-900">Calendar</h2>

<div class="mt-5 md:mt-0">
  <form [formGroup]="calendarForm" (ngSubmit)="onSubmit()">
    <div class="overflow-hidden shadow sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-3 sm:col-span-1">
            <label for="year" class="block text-sm font-medium text-gray-700"
              >Year</label
            >
            <input
              type="number"
              id="year"
              min="1900"
              max="2999"
              [formControlName]="'year'"
              class="block w-full mt-1 border-gray-300 rounded-md shadow-sm disabled:bg-gray-200 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
            <div class="text-sm text-red-900" *ngIf="calendarForm.invalid">
              {{ getControlErrorMessage(calendarForm.get("year"), "Year") }}
            </div>
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label for="name" class="block text-sm font-medium text-gray-700"
              >Name</label
            >
            <input
              type="text"
              id="name"
              [formControlName]="'name'"
              class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
            <div class="text-sm text-red-900" *ngIf="calendarForm.invalid">
              {{ getControlErrorMessage(calendarForm.get("name"), "Name") }}
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 space-x-2 text-right bg-gray-50 sm:px-6">
        <button
          class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm disabled:opacity-50 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          type="submit"
          [disabled]="!calendarForm.valid || pending"
        >
          Save
        </button>

        <button
          class="inline-flex justify-center px-4 py-2 text-sm font-medium text-blue-600 border border-transparent rounded-md disabled:opacity-50 hover:text-blue-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600"
          type="button"
          [routerLink]="['/management/calendars']"
          [disabled]="pending"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
