<div class="relative inline-block">
  <div>
    <button
      type="button"
      class="inline-flex justify-center h-10 w-12 rounded-md border border-gray-300 shadow-sm px-4 py-2
      {{ colourItem.name }}
      {{ colourItem.text }}
    text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100
    "
      (click)="toggleColours()"
      (clickOutside)="closeColours()"
    ></button>
  </div>

  <div
    [class]="{
      hidden: hidden,
      'opacity-100': !hidden,
      'scale-100': !hidden,
      'duration-100': !hidden,
      'ease-out': !hidden,
      'opacity-0': hidden,
      'scale-95': hidden,
      'duration-75': hidden,
      'ease-in': hidden,
      'right-0': position === 'right',
      'origin-top-right': position === 'right',
      'left-0': position === 'left',
      'origin-top-left': position === 'left'
    }"
    class="absolute w-auto p-1 mt-1 transition bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none tansform"
    (click)="!hidden ? toggleColours() : ''"
  >
    <div class="flex" *ngFor="let group of colours">
      <div class="flex" *ngFor="let colour of group">
        <color-swatch
          class="flex"
          [color]="colour"
          (onClick)="setColourItem($event)"
        >
          <div class="w-3 h-3 m-1">
            <svg
              *ngIf="isActive(colour)"
              xmlns="http://www.w3.org/2000/svg"
              class="h-3 w-3 {{ colourItem.text }}"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </color-swatch>
      </div>
    </div>
  </div>
</div>
